<!-- Formulário para Adicionar/Editar Setor -->
<div class="form-container">
  <h2>{{ editingSector ? 'Editar Setor' : 'Adicionar Novo Setor' }}</h2>
  <form (ngSubmit)="saveSector()" #sectorForm="ngForm">
    <div class="form-group">
      <label for="sectorName">Nome:</label>
      <input type="text" id="sectorName" name="sectorName" [(ngModel)]="currentSector.name" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
        Nome é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="sectorDescription">Descrição:</label>
      <input type="text" id="sectorDescription" name="sectorDescription" [(ngModel)]="currentSector.description">
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="sectorForm.invalid">{{ editingSector ? 'Salvar Alterações' : 'Adicionar Setor' }}</button>
      <button type="button" (click)="cancelEdit()" *ngIf="editingSector">Cancelar Edição</button>
    </div>
  </form>
</div>

<!-- Lista de Setores -->
<div class="list-container">
  <h2>Setores Existentes</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sector of sectors">
        <td>{{ sector.id }}</td>
        <td>{{ sector.name }}</td>
        <td>{{ sector.description }}</td>
        <td>
          <button (click)="editSector(sector)">Editar</button>
          <button (click)="confirmDelete(sector.id)">Excluir</button> <!-- Modificado para confirmar -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

